<div class="dropdown" dropdown placement="bottom right" [dropup]="upDrop">
	<a href="javascript:void(0)" (click)="false" dropdownToggle>
		<i class="fa fa-bars p-2"></i>
	</a>
	<ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
		<ng-container *ngFor="let option of _options">
			<li role="menuitem" *ngIf="!option.divider && option.visible">
				<a class="{{ option.classList || 'dropdown-item' }}" href="javascript:void(0)" (click)="option.click(model)">
					<ng-container *ngIf="option.icon">
						<i class="fa fa-{{ option.icon }} mr-1"></i>
					</ng-container>
					{{ option.title }}
				</a>
			</li>
			<li class="divider dropdown-divider" *ngIf="option.divider"></li>
		</ng-container>
	</ul>
</div>
